WcfService2Test/WcfService2Test/Connected Services/ConvertMyTemp/ConvertTemperature.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CtoF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="celcius" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CtoFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CtoFResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FtoC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fahrenheit" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FtoCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FtoCResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>